.App {

}

body {
    background-color: #f6f7fb;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    margin: 30px;
    background-color: #ffffff;
    width: 300px;
    height: 150px;
}

.header-card {
    display: flex;
    justify-content: space-around;
}

.text-card {
    text-align: center;
    font-size: 25px;
    color: #303545;
}

.buttons-card {
    display: flex;
    justify-content: space-around;

}

.buttons-card button {
    background-color: #ffffff;
    width: 30%;
    border: 2px solid #edeff4;
    border-radius: 10%;
    color: #abb1bf;
    font-weight: bold;
    cursor: pointer;
}

.card-edit {
    cursor: pointer;
    border: none;
    background-color: #ffffff;

}


.card-edit:hover {
    border-radius: 50%;
    background-color: #edeff4;
}

.buttons-card button:hover {
    border-color: #939bb4;
    outline: none;
}

.description-card {
    color: #939bb4;
}

.count-card {
    color: #586380;
    font-weight: 600;
}